In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [6]:
df_football = pd.read_csv("results.csv")

In [20]:
df_brazil_home = df_football[(df_football["home_team"] == "Brazil")]

In [37]:
df_brazil_away = df_football[(df_football["away_team"] == "Brazil")]

In [58]:
df_brazil_suica_home = df_brazil_home[(df_brazil_home["away_team"] == "Costa Rica")]
df_brazil_suica_home

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
3859,1956-03-13,Brazil,Costa Rica,7,1,Pan American Championship,Mexico City,Mexico,True
16004,1990-06-16,Brazil,Costa Rica,1,0,FIFA World Cup,Turin,Italy,True
17049,1992-09-23,Brazil,Costa Rica,4,2,Friendly,Paranavaí,Brazil,False
20418,1997-06-13,Brazil,Costa Rica,5,0,Copa América,Santa Cruz,Bolivia,True
26442,2004-07-11,Brazil,Costa Rica,4,1,Copa América,Arequipa,Peru,True

In [57]:
df_brazil_suica_away = df_brazil_away[(df_brazil_away["home_team"] == "Costa Rica")]
df_brazil_suica_away

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
4600,1960-03-10,Costa Rica,Brazil,3,0,Pan American Championship,San José,Costa Rica,False
4607,1960-03-17,Costa Rica,Brazil,0,4,Pan American Championship,San José,Costa Rica,False
24572,2002-06-13,Costa Rica,Brazil,2,5,FIFA World Cup,Suwon,Korea Republic,True
32997,2011-10-07,Costa Rica,Brazil,0,1,Friendly,San José,Costa Rica,False
36610,2015-09-05,Costa Rica,Brazil,0,1,Friendly,Harrison,USA,True

In [41]:
df_brazil_austria_home["home_score"].sum()

2

In [46]:
df_brazil_austria_away["away_score"].sum() / df_brazil_austria_away["date"].count()

2.0

In [47]:
df_brazil_austria_home["home_score"].sum() / df_brazil_austria_home["home_score"].count()

0.66666666666666663